{{!-- <div class="beer-container">
  <img src="{{this.image_url}}" alt="beer">
  <h3>{{this.name}}</h3>
  <h6>{{this.tagline}}</h6>
  <p>{{this.description}}</p>

</div> --}}

<div class="card">
  <img class="card-image" src="{{this.image_url}}" alt="beer">
  <div class="content-container">
    <h3><b>{{this.name}}</b></h3>
    <h6>{{this.tagline}}</h6>
    <p>{{this.description}}</p>
  </div>
</div>

{{!-- //style="width:100%" --}}